<div class="row">
    <div class="col-xl-4" (click)="redirectToList('homework')" style="margin: 20px;
    width: 200px;
    height: 170px;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);">
        <div class="row row-full-height">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <!-- <kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
                    <kt-portlet-body [class]="'kt-portlet__body--fluid'"> -->
                <div class="kt-widget26">
                    <div class="kt-widget26__content">
                        <span class="kt-widget26__number"><i class="fas fa-laptop-house"></i></span>
                        <span class="kt-widget26__desc">Homework</span>
                    </div>

                </div>
                <!-- </kt-portlet-body>
                </kt-portlet> -->

                <div class="kt-space-20"></div>

            </div>
        </div>
    </div>
    <div class="col-xl-4" (click)="redirectToList('notice')" style="margin: 20px;
    width: 200px;
    height: 170px;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);">
        <div class="row row-full-height">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <!-- <kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
                    <kt-portlet-body [class]="'kt-portlet__body--fluid'"> -->
                <div class="kt-widget26">
                    <div class="kt-widget26__content">
                        <span class="kt-widget26__number"><i class="far fa-clipboard"></i></span>
                        <span class="kt-widget26__desc">Notices</span>
                    </div>

                </div>
                <!-- </kt-portlet-body>
                </kt-portlet> -->

                <div class="kt-space-20"></div>

            </div>
        </div>
    </div>
</div>