<kt-portlet>
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->
    <!-- See prop => '~/core/_crud/models/data-sources/_base.datasource.ts' (loading$) -->
    <kt-portlet-header [title]="'Homework'" [class]="'kt-portlet__head--lg'">
    </kt-portlet-header>
    <!-- end::Header -->

    <!-- start::Body (attribute: ktPortletBody) -->
    <kt-portlet-body>
        <div class="mat-table__wrapper">
            <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="sr_no">
                    <mat-header-cell *matHeaderCellDef> Sr. No</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="homework">
                    <mat-header-cell *matHeaderCellDef>Homework</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.homework}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="class">
                    <mat-header-cell *matHeaderCellDef>Class</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.class.title}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="file_id">
                    <mat-header-cell *matHeaderCellDef>File</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.file_id}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="youtube_id">
                    <mat-header-cell *matHeaderCellDef>Youtube</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.youtube_id}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.date | date: "yyyy-MM-dd"}}
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.data.length">No records found</div>
            <mat-paginator #paginator [length]="pageData.total" [pageSize]="pageData.per_page"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
        <!-- end: BOTTOM -->
    </kt-portlet-body>
    <!-- end::Body -->
</kt-portlet>